.web-body {
    background: url("/img/bg-account.jpg");
    background-position-x: center;
    background-size: 1000px 633px;
}

.footer {
    margin-top: 0;
}

.container{
    position: relative;
}
.log-btn-container {
    top: 25%;
    align-items: center;
    position: absolute;
    margin: auto;
    left: 50%;
    width: 500px;
    height: 500px;
    background-color: #fff;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.log-btn-container > span{
    font-size: 60px;
}

.logIn-btn,
.signUp-btn {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 40px 20px;
    width: 300px;
    height: 60px;
    border: 1px solid black;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logIn-btn:hover {
    cursor: pointer;
    background-color: #828282;
    color: rgb(255, 255, 255);
}

.signUp-btn:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #828282;
}
