.web-body {
    background: url("/img/bg-account.jpg");
    background-position-x: center;
    background-size: 1000px 633px;
}

.footer {
    margin-top: 0;
}

.noti-container {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    background-color: #56799c;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.a-label {
    margin-top: 50px;
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
}
.container{
    position: relative;
}
.log-btn-container {
    top: 50%;
    display: flex;
    align-items: center;
    position: absolute;
    margin: auto;
    right: 50%;
    left: 50%;
    justify-content: center;
}

.logIn-btn,
.signUp-btn {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 40px 20px;
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    border: 2px solid #fff;
}

.logIn-btn:hover {
    cursor: pointer;
    background-color: #828282;
    color: rgb(255, 255, 255);
}

.signUp-btn:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #828282;
}

.banner_acc {
    padding-top: 50%;
    background-image: url('../img/Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}