.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}



.l-3 {
    display: block;
}

.l-3 {
    flex: 0 0 25%;
    max-width: 25%;
}