* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

.product_bestSeller_all i,
.product_bestSeller_all,
.products_bestSeller span {
    color: #fff;
}

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 1;
}

.main_home_page {
    margin-top: 100px;
}

.banner img {
    /* margin-top: 88px;
    padding-top: 50%;
    background: url(img/Banner.png) top center / cover no-repeat; */
    width: 100vw;
}

.products_container_heading {
    text-align: center;
    margin: 100px 0;
}

.title_home_page {
    font-size: 10px;
}

.content_home_page {
    font-size: 30px;
    padding: 6px;
}

.description_home_page_title {
    padding-bottom: 4px;
}



.products_container_list_item {
    width: 1200px;
    margin: auto;
}

.products_bestSeller {
    height: 30px;
    background: #2c3e50;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 0 8px;
    margin: 10px 0 20px;
}

.products_item img {
    width: 100%;
}

.products_item:hover {
    cursor: pointer;
}

.deltal_item {
    text-decoration: none;
    color: #000;
}

.products_item {
    border: 1px solid #cecccc;
    border-radius: 8px;
    position: relative;
}

.arrow_left_product {
    position: absolute;
    top: 50%;
    left: 20px;
    padding: 12px 14px;
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
}

.arrow_right_product {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 12px 14px;
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
}

.products_item_info {
    background-color: #e3e1e1;
    border-top: 1px solid #cecccc;
    padding: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.product_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_status {
    font-size: 12px;
}

.product_price {
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.product_price_pre {
    padding-left: 4px;
    font-size: 9px;
    position: relative;
}

.product_price_pre .line {
    border: .5px solid #000;
    background-color: #000;
    position: absolute;
    width: 50px;
    top: 4px;
}

.icon_style {
    color: rgb(242, 205, 23);
}

.product_item_discount {
    position: absolute;
    top: 20px;
    right: -6px;
    background-color: red;
    color: #fff;
    padding: 8px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.product_item_discount::after {
    content: "";
    position: absolute;
    border-top: 6px solid rgb(174, 2, 2);
    border-right: 6px solid transparent;
    right: 0;
    bottom: -6px;
}