* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.product_bestSeller_all i,
.product_bestSeller_all,
.products_bestSeller span {
    color: #fff;
}

.products_container_headingg{
    padding-top: 150px;
    width: 1340px;
    margin: auto;
}
.product_btn{
    width: 1340px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.product_btn_filter{
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-left: 8px;
}
.pro_icon{
    padding:0 4px;
}
.checked{
    color: #000;

}
.content_home_pagee{
    font-size: 3rem;
    padding: 8px 0;
}
.content_home_detail{
    display: flex;
    margin: 20px 0;
    align-items: flex-end;
}
.dashboard_content_title{
    padding: 0 8px;
    color: #666666;
}
.dashboard_content_title_checked{
    position: relative;
    font-size: 1.2rem;
}
.line2{
    position: absolute;
    width: 20px;
    height: 1px;
    color: #000;
    z-index: 1;
}

.row.title {
    font-weight: 600;
}

.dash_board {
    background: #eee;
    width: 1340px;
    margin: auto;
    border-radius: 8px;
}

.dash_board_item {
    padding: 20px 30px;
}

.col {
    margin: 8px 0;
}

.banner_product {
    margin-top: 88px;
    padding-top: 50%;
    background: url('/img/Slice 3.png') top center / cover no-repeat;
}

.black_box {
    width: 15px;
    height: 15px;
    background-color: #000;
    margin-right: 4px;
    border-radius: 100%;
}

.blue_box {
    width: 15px;
    height: 15px;
    background-color: blue;
    margin-right: 4px;
    border-radius: 100%;
}

.content {
    display: flex;
    align-items: center;
}

.content_title {
    margin-top: 80px;
    font-size: 20px;
}

.red_box {
    width: 15px;
    height: 15px;
    background-color: red;
    margin-right: 4px;
    border-radius: 100%;
}

.green_box {
    width: 15px;
    height: 15px;
    background-color: green;
    margin-right: 4px;
    border-radius: 100%;
}

.white_box {
    width: 15px;
    height: 15px;
    background-color: #fff;
    margin-right: 4px;
    border-radius: 100%;
}