* {
    padding: 0;
    margin: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #1f2b38;
}
html {
    
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
}

button:hover{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

/* Header */
.header {
    width: 100vw;
    height: 150px;
    background-color: #FDFCFC;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 2rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.grid {
    width: 100vw;
    max-width: 100%;
}

.header_navbar-list {
    list-style: none;
    padding: 0 80px;
}   

.header_navar-item {
    display: inline-block;
}
.header_navar-item-link {
    text-decoration: none;
    color: #514F4F;
    font-weight: 600;
    padding-right: 10px;
}

.header_navar-item-link:hover {
    color:rgba(81, 79, 79, 0.8);
}

.header_navar-item2 {
    float: right;
    padding-left: 52px;
    padding-top: 10px;
}

.header_navar-item-icon {
    font-size: 3.5rem;
    color: #000;
}

.header_navar-item-icon:hover {
    color: rgba(0,0,0,0.7);
}

.div_search {
    width: 300px;
    height: 40px;
    border-bottom: 1.5px solid #B8B4B4;
}

.header_search-input {
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    background-color: #FDFCFC;
}

/*body*/

.web-body {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner img {
    width: 100%;
    height: 100%;
}

.products_container_heading {
    text-align: center;
    margin: 50px;
}

.title_home_page {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 43px;
    color: #000000;
    text-decoration: none;
}

.products_container_selection {
    width: 580px;
    border-bottom: 3px solid #B8B4B4;
    margin: 40px auto 0;
    
}

.selection_line {
    height: 3px;
    background-color: #000;
    position: absolute;
    transition: all 0.5s ease;
    bottom: 0;
}

.selection_list {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.selection_item {
    width: 33.33%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 24px;
    color: #827A7A;
    cursor: pointer;
}



.selection_item_text:hover {
    color: #000;
} 

.products_container_body {
    width: 1400px;
    margin: auto;
    display: none;
}
.products_container_bodyy{
    width: 1400px;
    display: block;
    margin: auto;
}

.container_item img {
    width: 300px;
    height: 320px;
}

.grid_container_row2 {
    margin-top: 4rem;
}

.container_item {
    text-align: left;
}

.container_item_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 1.5rem;
}

.container_item_rate {
    margin-top: 1.5rem;
}

.icon_rate {
    color: #FAF000;
}

.container_item_price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 1.5rem;
}

.container_item_discount {
    width: 300px;
    height: 56px;
    border: 2px solid #378CDA;
    border-radius: 15px;
    margin-top: 15px;
}

.container_item_discount_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #378CDA;
    text-align: center;
    line-height: 56px;
}

/* Footer */
   
.footer {
    width: 100vw;
    height: 750px;
    background:rgba(245, 245, 245, 1);
    position: relative;
    top: 150px;
}

.icon_footer {
    font-size: 5rem;
    padding-bottom: 20px;
}

h2 {
    display: block;
    font-size: 2rem;
    font-weight: 700;
}   

.grid_column-list{
    list-style: none;
    
}

.grid_column-item1 {
    text-align: left;
    /* padding-left: 50px; */
}

.item-link {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

.item-link:hover {
    color: rgba(0,0,0,0.7);
}


.grid_column-item2 {
    text-align: left;
    padding-left: 50px;
    padding-bottom: 20px;
}

.icon_footer_add {
    font-size: 3rem;
    display: inline;
}

.item-link-p {
    display: inline;
    font-size: 1.5rem;
    padding-left: 20px;
}

/* column */

.grid_row {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

.grid_column {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    width: 25%;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.product_more{
    margin: 40px 0;
    display: flex;
    font-size: 1.4rem;
   
}
.product_more_item{
    margin: auto;
    cursor: pointer;
}

.active{
    display: block;
}
.check{
    color: #000;
}

.active-page{
   color: #000;
   font-size: 25px;
}

@media screen and (max-width:600px) {
    
}