* {
    padding: 0;
    margin: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #1f2b38;
}
html {
    
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
}

button:hover{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

/* Header */
.header {
    width: 100vw;
    height: 150px;
    background-color: #FDFCFC;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 2rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

.grid {
    width: 1884px;
    max-width: 100%;
}

.header_navbar-list {
    list-style: none;
    padding: 0 80px;
}   

.header_navar-item {
    display: inline-block;
}
.header_navar-item-link {
    text-decoration: none;
    color: #514F4F;
    font-weight: 600;
    padding-right: 10px;
}

.header_navar-item-link:hover {
    color:rgba(81, 79, 79, 0.8);
}

.header_navar-item2 {
    float: right;
    padding-left: 52px;
    padding-top: 10px;
}

.header_navar-item-icon {
    font-size: 3.5rem;
    color: #000;
}

.header_navar-item-icon:hover {
    color: rgba(0,0,0,0.7);
}

.div_search {
    width: 350px;
    height: 40px;
    border-bottom: 1.5px solid #B8B4B4;
}

.header_search-input {
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    background-color: #FDFCFC;
}

/*body*/

.web-body {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* Footer */
   
.footer {
    width: 100vw;
    height: 750px;
    background:rgba(245, 245, 245, 1);
    width: 100vw;
    position: relative;
    top: 150px;
}

.grid_row {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

.grid_column {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    text-align: center;
}

.icon {
    font-size: 5rem;
    padding-bottom: 20px;
}

h2 {
    display: block;
    font-size: 2rem;
    font-weight: 700;
}   

.grid_column-list{
    list-style: none;
    padding-top: 80px;
}

.grid_column-item1 {
    text-align: left;
    padding-left: 50px;
}

.item-link {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

.item-link:hover {
    color: rgba(0,0,0,0.7);
}

.row-2 {
    padding-top: 145px;
}

.grid_column-item2 {
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
}

.icon2 {
    font-size: 3rem;
    display: inline;
}

.item-link-p {
    display: inline;
    font-size: 1.5rem;
    padding-left: 20px;
}



